
<div class="container h-100">
 <div class="row my-auto h-100 justify-content-center">   
<mat-card class="my-auto align-self-center">
    <div class="col col-12 mb-5 mt-3"> 
    <h3>Simple Login System</h3>
</div>
    <form class="col col-12 example-form justify-content-center">
        <mat-form-field class="example-full-width">
          <mat-label>Username:</mat-label>
          <input matInput placeholder="Enter Username">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Enter Password">
          </mat-form-field>
      </form>
      <div class="col col-12 justify-content-center">
          <button mat-flat-button color="primary">Login</button>
      </div>
</mat-card>
</div>
</div>