<div class="container">
<p>home works!</p>

<div class="row">
  <div class="col col-12">
<h4>This is a List of items</h4>
<ol *ngFor = 'let item of items'>
    <li>{{item.title}} : {{item.description}}</li> <button (click)="deleteItem(event, item)">Delete</button>
</ol> 
</div>
</div>

<!-- <form (ngSubmit)="onSubmit()"> -->
<div class="row">
  <div class="col col-12">
  <h4>Add items</h4>
</div>
</div>

<div class="row">
  <mat-form-field class="col col-6" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="itemsNew.title" name="title" placeholder="Enter title">
  </mat-form-field>
  </div>
  
  <div class="row">
  <mat-form-field class="col col-6" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="itemsNew.description" name="description" placeholder="Enter description">
  </mat-form-field>
  </div>

  <div class="row">
    <div class="col col-12">
    <button (click)="onSubmit()">Add</button>
    <!-- <input type="submit" value="submit" class="btn"> -->
  </div>
  </div>
<!-- </form> -->



</div>